@import "admin_common.css";
@import "admin_page.css";
@import "admin_thumb.css";

.page_body > dd > .tlist { min-height: 1000px; width: 100%; background: url(../image/admin_form_bg.png) repeat-y; }

	/*左侧小表单*/
	.page_body > dd > .tlist > .left_form { width: 220px; padding: 15px;position: absolute; }
		.page_body > dd > .tlist > .left_form > form > ol > .title { color: #999; padding-bottom: 5px; }
		.page_body > dd > .tlist > .left_form > form > ol > .title_b { font-size: 16px; padding-bottom: 5px; }
			.page_body > dd > .tlist > .left_form > form > ol > li > span { margin-left: 10px; color: #c30; }
			.page_body > dd > .tlist > .left_form > form > ol > li > label { margin-right: 10px; color: #000; }
			.page_body > dd > .tlist > .left_form > form > ol > li > div { margin-bottom: 5px; }

	/*列表样式*/
	.page_body > dd > .tlist > .right_list { margin-left: 250px; background: #fff; }

		.page_body > dd > .tlist > .right_list > h5 { padding: 10px; border-bottom: 1px solid #ccc; }
			.page_body > dd > .tlist > .right_list > h5 > div { margin-bottom: 10px; }

		.page_body > dd > .tlist > .right_list > h6 { padding: 10px; }

		.page_body > dd > .tlist > .right_list > form > ul > .thead > ol { border-bottom: 1px dashed #ccc; background: #eee; padding: 5px; }
			.page_body > dd > .tlist > .right_list > form > ul > .thead > ol > li > div { color: #999; }

		.page_body > dd > .tlist > .right_list > form > ul > .tbody > ol { border-bottom: 1px dashed #ccc; padding: 5px; }
			.page_body > dd > .tlist > .right_list > form > ul > .tbody > ol:hover { background: #eee; }

			.page_body > dd > .tlist > .right_list > form > ul > li > ol > li > div { padding: 5px; }
				.page_body > dd > .tlist > .right_list > form > ul > li > ol > li > .tmini { width: 50px; float: left; white-space: nowrap; text-align: center; }
				.page_body > dd > .tlist > .right_list > form > ul > li > ol > li > .tshort { width: 110px; float: left; white-space: nowrap; }
				.page_body > dd > .tlist > .right_list > form > ul > li > ol > li > .tmiddle { width: 150px; float: left; white-space: nowrap; }
				.page_body > dd > .tlist > .right_list > form > ul > li > ol > li > .tlong { width: 200px; float: left; white-space: nowrap; }
				.page_body > dd > .tlist > .right_list > form > ul > li > ol > li > .tlarge { width: 250px; float: left; white-space: nowrap; }

				.page_body > dd > .tlist > .right_list > form > ul > li > ol > li > div > .title { font-size: 14px; }
				.page_body > dd > .tlist > .right_list > form > ul > li > ol > li > div > .double { margin-top: 8px; }

		.page_body > dd > .tlist > .right_list > form > ul > .tfoot > ol { border-bottom: 1px dashed #ccc; padding: 5px; }
			.page_body > dd > .tlist > .right_list > form > ul > .tfoot > ol > li > div { color: #999; }

.hide, .hide *, .disable, .disable * { color: #bbb; }
.draft, .draft * { color: #f90; }
.deadline, .deadline * { color: #390; }
.wait, .wait * { color: #c00; }