@import "global.css";
@import "admin_thumb.css";
@import "admin_page.css";

body { background: #fff; padding: 0px; margin: 0px; }

h5 { border-bottom: 1px solid #c30; background: #eee; padding: 10px 20px 0px 20px; }
h5 > ul > li > a { padding: 5px 8px; margin-right: 10px; float: left; }
h5 > ul > li > a.tab_active { background: #c30; color: #fff; }
h5 > ul > li > form { margin: 0px 0px 10px 0px; }

h6 { margin-top: 10px; }

form { margin: 12px; }

form > .form { margin: 20px; }


form > ol > .list { background: #fff; border: #ccc dashed 1px; padding: 10px; text-align: center; float: left; }
	form > ol > li > dl > dt { width: 100px; height: 100px; background: #eee; }
	form > ol > li > dl > dd { width: 90px; }