ul, ol, li, dl, dt, dd, form { margin: 0px; padding: 0px; font: 12px Arial; color: #000; }
ul, ol, li, dl, dt, dd  { list-style: none; }
p, div, table, select, button { font: 12px Arial; color: #000; }
th, td { text-align: left; margin: 0px; padding: 8px; }
textarea, input[type="text"], input[type="password"] { font: 14px Arial; color: #000; }
input:focus, textarea:focus { outline: none; }
input:-webkit-autofill { box-shadow: 0px 0px 0px 1000px white inset; }
li, dt, dd, div { word-break: break-all; }

h1 { font: 20px Arial; color: #000; margin: 0px; padding: 0px; }
h2 { font: 18px Arial; color: #000; margin: 0px; padding: 0px; }
h3 { font: 16px Arial; color: #000; margin: 0px; padding: 0px; }
h4 { font: 14px Arial; color: #000; margin: 0px; padding: 0px; }
h5 { font: 12px Arial; color: #000; margin: 0px; padding: 0px; }
h6 { font: 12px Arial; color: #000; margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { word-break: break-all; }

img { border: none; }

a { font: 12px Arial; color: #0477c8; text-decoration: none; }
a:hover { color: #f00; text-decoration: none; }

.float_left { float: left; }
.float_right { float: right; }
.float_clear { clear: both; }

.hidden { display: none; }
.line_dashed { padding-bottom: 10px; border-bottom: 1px #ccc dashed; margin-bottom: 10px; }
.div_checked { background: #eee; }