.baigoSubmit_y { background: url(status_y.png) no-repeat; padding-left: 40px; color: #093; }
.baigoSubmit_x { background: url(status_x.png) no-repeat; padding-left: 40px; color: #f00; }
.baigoSubmit_loading { background: url(loading.gif) no-repeat; padding-left: 60px; color: #999; }

.baigoSubmit_box { display: none; }
.baigoSubmit_box > ul { margin: 0px; padding: 0px; list-style: none; }
#ajax_box { background: #eee; width: 100%; height: 100%; text-align: left; margin: 0px; padding: 0px; list-style: none; }
#ajax_box > #ajax_msg { padding: 20px; background: #fff; }
#ajax_box > #ajax_msg > div { font-size: 20px; }
#ajax_box > #ajax_alert { color: #999; padding: 10px 20px 20px 20px; background: #fff; }
#ajax_box > #ajax_btn { padding: 20px; }
#ajax_box > #ajax_btn > a { padding: 4px 8px; background: #c30; color: #fff; }
#ajax_box > #ajax_btn > a:hover { background: #666; }