.baigoValidator_y { background: url(status_y.png) no-repeat; padding-left: 20px; color: #093!important; }
.baigoValidator_x { background: url(status_x.png) no-repeat; padding-left: 20px; color: #f00!important; }
.baigoValidator_loading { background: url(loading.gif) no-repeat; padding-left: 20px; color: #000!important; }