ul, ol, li, div, select, button { font-size: 12px; font-family: Arial; color: #000; }
a { font: 12px Arial; color: #0477c8; text-decoration: none; }
a:hover { color: #f00; text-decoration: none; }

body { margin: 50px 10px; padding: 0px; text-align: center; background: url(../image/install_bg.png) repeat-x #90D0BF; }

.float_left { float: left; }
.float_right { float: right; }
.float_clear { clear: both; }

.global { width: 500px; margin: 0px auto; }

.global > .global_body { width: 500px; background: url(../image/form_bg.png) repeat-x; }

.global > .global_body > .page_head { width: 470px; padding: 15px; text-align: left; font-size: 18px; }

	.global > .global_body > .page_head > img { margin-right: 10px; vertical-align: middle; }

.global > .global_body > .page_body { width: 440px; padding: 20px 30px; text-align: left; background: #fff; }

	.global > .global_body > .page_body > form > ul { margin: 0px; padding: 0px; list-style: none; }
		.global > .global_body > .page_body > form > ul > .title { margin-bottom: 5px; color: #999; }
		.global > .global_body > .page_body > form > ul > .field { margin-bottom: 10px; }
		.global > .global_body > .page_body > form > ul > .line_dashed { padding-bottom: 10px; border-bottom: 1px dashed #ccc; margin-bottom: 10px; }
			.global > .global_body > .page_body > form > ul > .field > input[type="text"] { font-size: 20px; width: 100%; }
			.global > .global_body > .page_body > form > ul > .field > input[type="password"] { font-size: 20px; width: 100%; }
			.global > .global_body > .page_body > form > ul > .field > textarea { width: 300px; height: 300px; }
			.global > .global_body > .page_body > form > ul > li > span { margin-left: 5px; color: #c30; }

			.global > .global_body > .page_body > form > ul > li > ol { list-style: none; padding: 10px; margin: 0px; }
				.global > .global_body > .page_body > form > ul > li > ol > .title { margin-bottom: 5px; }
				.global > .global_body > .page_body > form > ul > li > ol > .field { margin-bottom: 10px; }

	.global > .global_body > .page_body > ol > li { font-size: 16px; line-height: 150%; }
		.global > .global_body > .page_body > ol > li > a { font-size: 16px; }


.global > .global_body > .page_foot { width: 460px; padding: 20px; background: #fff; }

	.global > .global_body > .page_foot > a { display: block; width: 100px; height: 0px; margin: 0px auto; padding-top: 15px; overflow: hidden; background: url(../image/power_by.png); }