@import "admin_common.css";
@import "admin_page.css";

.page_body > dd > h5 { padding: 10px; border-bottom: 1px solid #ccc; }
.page_body > dd > h6 { padding: 10px; }

	.page_body > dd > h5 > div { margin-bottom: 10px; }
		.page_body > dd > h5 > div > a { padding: 2px 6px; }
		.page_body > dd > h5 > div > a.tab_active { color: #fff; background: #999; }
		.page_body > dd > h5 > div > a.tab_alert { color: #f00; }

/*列表样式*/
.page_body > dd > .tlist > ul { width: 100%; background: #fff; }

	.page_body > dd > .tlist > ul > .thead > ol { border-bottom: 1px dashed #ccc; background: #eee; padding: 5px; }
		.page_body > dd > .tlist > ul > .thead > ol > li > div { color: #999; }

	.page_body > dd > .tlist > ul > .tbody > ol { border-bottom: 1px dashed #ccc; padding: 5px; }
		.page_body > dd > .tlist > ul > .tbody > ol:hover { background: #eee; }

		.page_body > dd > .tlist > ul > li > ol > li > div { padding: 5px; }
			.page_body > dd > .tlist > ul > li > ol > li > .tmini { width: 50px; float: left; white-space: nowrap; text-align: center; }
			.page_body > dd > .tlist > ul > li > ol > li > .tshort { width: 110px; float: left; white-space: nowrap; }
			.page_body > dd > .tlist > ul > li > ol > li > .tmiddle { width: 150px; float: left; white-space: nowrap; }
			.page_body > dd > .tlist > ul > li > ol > li > .tlong { width: 200px; float: left; white-space: nowrap; }
			.page_body > dd > .tlist > ul > li > ol > li > .tlarge { width: 250px; float: left; white-space: nowrap; }

			.page_body > dd > .tlist > ul > li > ol > li > div > .title { font-size: 14px; }
			.page_body > dd > .tlist > ul > li > ol > li > div > .double { margin-top: 8px; }

	.page_body > dd > .tlist > ul > .tfoot > ol { border-bottom: 1px dashed #ccc; padding: 5px; }
		.page_body > dd > .tlist > ul > .tfoot > ol > li > div { color: #999; }


.hide, .hide *, .disable, .disable * { color: #bbb; }
.draft, .draft * { color: #f90; }
.deadline, .deadline * { color: #390; }
.wait, .wait * { color: #c00; }