@import "admin_common.css";

	/*表单样式*/
	.page_body > dd > .tform { padding: 15px 40px 15px 15px; }

		.page_body > dd > .tform > h1 { padding-bottom: 15px; }
			.page_body > dd > .tform > h1 > img { vertical-align: middle; margin-right: 5px; }

		.page_body > dd > .tform > h2 { padding-bottom: 15px; }
			.page_body > dd > .tform > h2 > a { font-size: 16px; }

		.page_body > dd > .tform > h3 { padding-bottom: 15px; font-size: 12px; }
