@import "admin_common.css";

.page_body > dd > .tform > div { min-height: 1000px; background: url(../image/admin_form_bg.png) repeat-y; }

	/*表单左侧小选项*/
	.page_body > dd > .tform > div > ol { width: 220px; padding: 15px; position: absolute; }
	.page_body > dd > .tform > div > ol > .title { color: #999; padding-bottom: 5px; }
	.page_body > dd > .tform > div > ol > .field_in { padding-bottom: 10px; }

	.page_body > dd > .tform > div > ol > .title_b { font-size: 20px; }
	.page_body > dd > .tform > div > ol > .title_b > a { font-size: 20px; }

		.page_body > dd > .tform > div > ol > li > div { margin-bottom: 5px; }
		.page_body > dd > .tform > div > ol > li > span { margin-left: 10px; color: #c30; }
		.page_body > dd > .tform > div > ol > li > label { margin-right: 10px; color: #000; }
		.page_body > dd > .tform > div > ol > li > button { margin: 0px 10px 20px 0px; }
		.page_body > dd > .tform > div > ol > li > img { vertical-align: middle; }

		.page_body > dd > .tform > div > ol > li > .middle { width: 100px; }
		.page_body > dd > .tform > div > ol > li > .short { width: 50px; }

	/*表单样式*/
	.page_body > dd > .tform > div > ul { margin-left: 250px; padding: 15px 40px 15px 15px; }

		.page_body > dd > .tform > div > ul > .title { color: #999; padding-bottom: 5px; }
		.page_body > dd > .tform > div > ul > .field { padding-bottom: 15px; }

		.page_body > dd > .tform > div > ul > .insert { padding: 5px 0px 10px 0px; }
		.page_body > dd > .tform > div > ul > .insert > a { padding: 4px 8px; color: #fff; background: #c30; }
		.page_body > dd > .tform > div > ul > .insert > a:hover { background: #666; }

		.page_body > dd > .tform > div > ul > .title_b { margin: 0px 10px 10px 0px; font-size: 20px; color: #000; }
		.page_body > dd > .tform > div > ul > .title_b > a { font-size: 20px; }

			.page_body > dd > .tform > div > ul > li > input[type="text"] { width: 100%; font-size: 20px; }
			.page_body > dd > .tform > div > ul > li > input[type="password"] { width: 100%; font-size: 20px; }
			.page_body > dd > .tform > div > ul > li > textarea { width: 100%; height: 500px; }
			.page_body > dd > .tform > div > ul > li > button { margin: 0px 10px 20px 0px; }

			.page_body > dd > .tform > div > ul > li > strong { color: #000; font-size: 14px; margin-bottom: 10px; word-wrap: break-word; word-break: normal; }
			.page_body > dd > .tform > div > ul > li > span { margin-left: 10px; color: #c30; }
			.page_body > dd > .tform > div > ul > li > div { margin-bottom: 5px; }
			.page_body > dd > .tform > div > ul > li > label { margin-right: 10px; color: #000; }
			.page_body > dd > .tform > div > ul > li > .narrow { width: 300px; height: 300px; }
			.page_body > dd > .tform > div > ul > li > .excerpt { width: 100%; height: 300px; }
			.page_body > dd > .tform > div > ul > li > .middle { width: 300px!important; }
			.page_body > dd > .tform > div > ul > li > .short { width: 200px!important; }


		/*表单内权限框*/
		.page_body > dd > .tform > div > ul > li > ol { padding: 10px; }

			.page_body > dd > .tform > div > ul > li > ol > .title { margin-bottom: 5px; color: #999; }
			.page_body > dd > .tform > div > ul > li > ol > .field { padding-bottom: 10px; border-bottom: 1px dashed #ccc; margin-bottom: 20px; }
			.page_body > dd > .tform > div > ul > li > ol > .field_text { margin-bottom: 10px; }

				.page_body > dd > .tform > div > ul > li > ol > li > label { margin-right: 10px; }
				.page_body > dd > .tform > div > ul > li > ol > li > span { margin-left: 10px; color: #c30; }
				.page_body > dd > .tform > div > ul > li > ol > li > img { vertical-align: middle; }
				.page_body > dd > .tform > div > ul > li > ol > li > textarea { width: 480px; height: 80px; margin-bottom: 10px; }

